a, a:visited, a:active {
  color: #999;
}

#vis {
  width: 1200px;
  height: 800px;
  clear: both;
  margin-bottom: 10px;
}

#toolbar {
  margin-top: 10px;
}

.year {
  font-size: 16px;
  fill: #aaa;
  cursor: default;
}