a, a:visited, a:active {
  color: var(--white-color);
}

#vis {
  width: 1200px;
  height: 800px;
  clear: both;
  margin-bottom: 10px;
}

#toolbar {
  margin-top: 10px;
}

.movietitle {
  font-size: 16px;
  fill: var(--darkgrey-color);
  cursor: default;
}