:root {
    --white-color: #fdfdfd;
    --sand-color: #bf9348;
    --darksand-color: #ae6c32;
    --darkred-color: #600322;
    --darkgrey-color: #222;

    --dogs-color: #c28e5e;
    --pulp-color: #3c4e94;
    --jackie-color: #070707;
    --bill1-color: #ffda05;
    --bill2-color: #ea1f18;
    --basterds-color: #417d00;
    --django-color: #730000;
}

