:root {
    --white-color: #fdfdfd;
    --sand-color: #bf9348;
    --darksand-color: #ae6c32;
    --darkred-color: #600322;
    --darkgrey-color: #222;
    
    --tabcontent-color: rgba(96,3,34,0.2);

    --dogs-color: #ff3f8c;
    --pulp-color: #3c4e94;
    --jackie-color: #070707;
    --bill1-color: #ffda05;
    --bill2-color: #ea1f18;
    --basterds-color: #4a674a;
    --django-color: #730000;

    --ass-color: #f3e4d6;
    --shit-color: #d59d6b;
    --fuck-color: var(--sand-color);
    --racial-color: #7a4c23;
    --genital-color: #553518;
    --blasphemy-color: #3b2511;
    --other-color: #291a0c;
}

