:root {
    --white-color: #fdfdfd;
    --sand-color: #bf9348;
    --darksand-color: #ae6c32;
    --darkred-color: #600322;
    --darkgrey-color: #222;




    --tabcontent-color: rgba(10,10,10,0.3);

    --dogs-color: #ff3f8c;
    --pulp-color: #3c4e94;
    --jackie-color: #070707;
    --bill1-color: #ffda05;
    --bill2-color: #ea1f18;
    --basterds-color: #4a674a;
    --django-color: #730000;
}

