#graphSelect img {
    width: 150px;
    padding: 4px 5px;
    margin-right: 6px;
}

.cover{
    display: inline-block;
    width: 160px;
    margin-bottom: 30px;
}

.cover img:last-child {
    margin-right: 0px;
}

.button {
    font-weight: bold;
}

.button#dogs.active {
    background: #c28e5e;
    color: #d40000;
}

.button#pulp.active {
    color: #ffda05;
    background: #3c4e94;
}

.button#jackie.active {
    color: #ffda05;
    background: #070707;
}

.button#bill1.active {
    color: #000;
    background: #ffda05;
}

.button#bill2.active {
    background: #ea1f18;
    color: #ffda05;
}

.button#basterds.active {
    background: #417d00;
}

.button#django.active {
    background: #730000;
}