div#liquidfill {
    display: inline;
}
svg.liquidfill{
    margin: 18px;
    margin-top: 50px;
}
svg.liquidfill2{
    margin: 18px;

}

.liquidFillGaugeText {
    fill: var(--white-color);
}

.liquidFillOuterCircle {
    fill: var(--darkgrey-color);
}

#imdb_tag {
    position: relative;
    height: auto;
    top: 310px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: larger;

}
#rotten_tomatoes_tag{
    position: relative;
    height: auto;
    top: 510px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: larger;
}